[package]
name = "js-pdk-core"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
quickjs-wasm-rs = { git = "https://github.com/Shopify/javy", rev = "45ca026" }
extism-pdk = "0.3.1"
once_cell = "1.16"
anyhow = { workspace = true }


[lib]
crate_type = ["cdylib"]

